{% extends "base.html" %}

{% block content %}

    <div class="content">
        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="mb-0">Inventories <small>| {{ number_inventories }} </small></h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-end">
                                        {% if user_is_authenticated %}
                                            <span class="fas fa-plus fa-2x"
                                                  data-toggle="tooltip" data-placement="top" title="Add a new inventory"
                                                  data-bs-toggle="collapse"
                                                  href="#collapseInventoryAdd"
                                                  style="display: inline-block; margin-right: 20px;"></span>
                                            <span class="fas fa-info fa-2x"
                                                  data-toggle="tooltip" data-placement="top" title="Basic help"
                                                  data-bs-toggle="collapse"
                                                  href="#collapseInventoryHelp"
                                                  style="display: inline-block; margin-right: 20px;"></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    {% if user_is_authenticated %}
                                        <div class="collapse" id="collapseInventoryAdd" aria-expanded="false">
                                            <div class="card card-body">
                                                <h5>Add new inventory:</h5>
                                                {% include 'inventory/_add_inventory_form.html' %}
                                            </div>
                                        </div>

                                        <div class="collapse" id="collapseInventoryEdit" aria-expanded="false">
                                            <div class="card card-body">
                                                <h5>Edit inventory:</h5>
                                                {% include 'inventory/_edit_inventory_form.html' %}
                                            </div>
                                        </div>

                                    {% endif %}

                                    <div class="collapse" id="collapseInventoryHelp" aria-expanded="false">
                                        <div class="card card-body">
                                            {% include 'inventory/inventory_help.html' %}
                                        </div>
                                    </div>

                                    {% include 'inventory/inventory-table.html' %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>


{% endblock %}

{% block footer %}
    {{ super() }}

    <script>

        $(document).ready(function () {

            $('#inventories-table').DataTable({
                "searching": true,
                paging: false,
                ordering: true,
                info: true
            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        });

        $('[id^=inventoryEdit]').click(function () {
            let inventory_id = $(this).attr('data-inventory-id');
            let inventory_name = $(this).attr('data-inventory-name');
            let inventory_desc = $(this).attr('data-inventory-description');
            let inventory_public = $(this).attr('data-inventory-public');

            $('#edit_form_inventory_id').val(inventory_id)
            $('#edit_form_inventory_name').val(inventory_name)
            $('#edit_form_inventory_description').val(inventory_desc)


            let inventory_public_is_checked = (inventory_public === "True")

            $('#edit_form_inventory_public').prop('checked', inventory_public_is_checked);

        });

        $('[id^=confirmInventoryDeleteBtn-]').on("click", function (e) {
            e.preventDefault();

            let inventory_id = $(this).attr('data-inventory-id');
            let inventory_slug = $(this).attr('data-inventory-slug');

            $.ajax({
                type: "POST",
                url: "{{ url_for('inv.del_inventory')}}",
                contentType: 'application/json;charset=UTF-8',
                headers: {
                    "X-CSRFToken": "{{ csrf_token() }}",
                },
                data: JSON.stringify(
                    {
                        'inventory_id': inventory_id,
                        'inventory_slug': inventory_slug,
                        'username': "{{ username }}",
                    }
                ),
                success: function () {
                    location.reload();
                },
                error: function () {
                    location.reload();
                }
            });

        });

    </script>

{% endblock %}