
<p>Inventories are collections of objects forming a common theme, such as your collection of retro computers your partner hates, or your collection of Mongolian tooth flossing sticks.</p>

<p>Items (or more precisely things) can be moved between inventories from within the inventories themselves. </p>

<p>The <i class="fas fa-lock"></i> icon indicates that the inventory is private (to you). The <i class="fas fa-unlock"></i> indicates a public inventory. </p>

<p>You can add a new inventory by clicking the <i class="fas fa-plus"></i> icon at the top.</p>