{% extends "base.html" %}

{% block content %}

    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="mb-0">Inventories <small>| {{ number_inventories }} </small></h4>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-end">
                                        {% if user_is_authenticated %}
                                            <span class="fas fa-plus fa-2x"
                                                  data-toggle="tooltip" data-placement="top"
                                                  title="{{ strings.add_new_inventory_tooltip }}"
                                                  data-bs-toggle="collapse"
                                                  href="#collapseInventoryAdd"
                                                  style="display: inline-block; margin-right: 20px;"></span>
                                            <span class="fas fa-info fa-2x"
                                                  data-toggle="tooltip" data-placement="top"
                                                  title="{{ strings.basic_help_tooltip }}"
                                                  data-bs-toggle="collapse"
                                                  href="#collapseInventoryHelp"
                                                  style="display: inline-block; margin-right: 20px;"></span>


                                            <a id="delete-inventories-btn-collapse" data-bs-toggle="collapse"
                                               href="#collapseDeleteInventories"
                                               role="button" aria-expanded="false"
                                               data-toggle="tooltip" data-placement="top" title="Delete location"
                                               aria-controls="confirmInventoryDelete">
                                                <span id="delete-inventories-span" class="fas fa-minus fa-2x"
                                                      style="color:lightgray; display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                                            </a>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    {% if user_is_authenticated %}
                                        <div class="collapse" id="collapseInventoryAdd" aria-expanded="false">
                                            <div class="card card-body">
                                                <h5>Add new inventory:</h5>
                                                {% include 'inventory/_add_inventory_form.html' %}
                                            </div>
                                        </div>

                                        <div class="collapse" id="collapseInventoryEdit" aria-expanded="false">
                                            <div class="card card-body">
                                                <h5>Edit inventory:</h5>
                                                {% include 'inventory/_edit_inventory_form.html' %}
                                            </div>
                                        </div>

                                    {% endif %}

                                    <div class="collapse" id="collapseInventoryHelp" aria-expanded="false">
                                        {% include 'inventory/_inventory_help.html' %}
                                        <hr>
                                    </div>

                                    <div class="collapse" id="collapseDeleteInventories" aria-expanded="false">
                                        <div class="text-center">
                                            <p>Do you really want to delete? This process cannot be
                                                undone.</p>
                                            <button id="confirm-delete-inventories-btn" type="button"
                                                    class="btn btn-primary btn-sm">Delete
                                            </button>
                                            <button id="cancel-delete-inventories-btn" type="button"
                                                    class="btn btn-primary btn-sm">Cancel
                                            </button>
                                            <hr>
                                        </div>
                                    </div>
                                    {% include 'inventory/_inventory-table.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/thinglist.js') }}"></script>

    <script type="text/javascript">
        const username = {{ username|tojson|safe }}
        const csrf_token = {{ csrf_token()|tojson|safe }}
        const delete_inv_url = {{ url_for('inv.del_inventory')|tojson|safe}}
    </script>

    <script src="{{ url_for('static', filename='js/inventories.js') }}"></script>

{% endblock %}
