
<div id="body" class="active">


    <ul class="nav navbar-white bg-white nav-pills justify-content-center">


    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='img/thinglist-logo-50pc.png') }}" alt="" height="75">
    </a>


        <li class="nav-item text-center"><a class="nav-link" href="{{ url_for('inv.inventories') }}">
            <i class="grey mb-2 fas fa-table"></i>
            <p class="text-muted">Inventories</p></a>
        </li>


        <li class="nav-item text-center"><a class="nav-link" href="{{ url_for('item.items') }}">
            <i class="grey mb-2 fas fa-th-list"></i>
            <p class="text-muted">Items</p></a>
        </li>


        {% if current_user.is_authenticated %}

            <li class="nav-item text-center"><a class="nav-link" href="{{ url_for('main.profile', username=current_user.username) | replace('%40', '@') }}">
                <i class="grey mb-2 fas fa-at"></i>
                <p class="text-muted">@{{ current_user.username }}</p></a>
            </li>

            <li class="nav-item text-center"><a class="nav-link" href="{{ url_for('auth_flask_login.logout') }}">
                <i class="grey mb-2 fas fa-sign-out-alt"></i>
                <p class="text-muted">logout</p></a>
            </li>

        {% else %}

            <li class="nav-item text-center"><a class="nav-link" href="{{ url_for('auth_flask_login.login') }}">
                <i class="grey mb-2 fas fa-sign-in-alt"></i>
                <p class="text-muted">login</p></a>
            </li>

        {% endif %}

    </ul>

</div>
