{% if locations | length > 0 %}
    <table class="table table-striped dataTable" id="my-locations-table">
        <thead class="success">
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>
                    <a href="{{ url_for('items.items_with_username_and_inventory', username=username, inventory_slug="all") | replace('%40', '@') }}?location={{ location['name']  | replace('@#$', ' ') | replace(' ', '+') }}">
                        {{ location['name'] }}  </a>
                </td>
                <td>{{ location['description'] }}</td>
                <td>

                    {% if  location['name'] != "None" %}

                        <span class="fas fa-edit fa-2x" data-bs-toggle="collapse"
                              id="locationEdit-{{ location['id'] }}"
                              href="#collapseLocationEdit"
                              data-location-id="{{ location['id'] }}"
                              data-location-name="{{ location['name'] }}"
                              data-location-description="{{ location['description'] }}"
                              data-toggle="tooltip" data-placement="top" title="Edit location"
                              style="display: inline-block; margin-right: 20px;"></span>

                        <span id="delete-locatione-btn-{{ location['id'] }}"
                              data-bs-toggle="collapse"
                              href="#confirmLocationDelete-{{ location['id'] }}"
                              class="fas fa-times fa-2x "
                              style="color:red; display: inline-block; margin-right: 20px;">

                        </span>

                    {% endif %}

                </td>
                <td>
                  <span class="collapse" id="confirmLocationDelete-{{ location['id'] }}" aria-expanded="false">
                            <span id="confirmLocationDelete-{{ location['id'] }}" aria-expanded="false"
                                  href="#confirmLocationDelete-{{ location['id'] }}"
                                  data-location-id="{{ location['id'] }}"
                                  class="collapse fas fa-check fa-2x "
                                  style="color:green; display: inline-block; margin-right: 20px;"></span>
                        </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
