{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="container">

            <div class="card">
                <div class=" text-center">

                    <div class="row align-items-center">

                        <div class="col-12">
                            <img class="img-fluid"
                                 src="{{ url_for('static', filename='img/thinglist-logo-50pc.png') }}"
                                 alt="ThingList logo">

                            <p>The site is still a bit crap, but we are working towards allowing user registrations.</p>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}