{% if user_is_authenticated %}

    {% if inventory_slug != "all" and inventory_slug != "default" %}
        <span class="fas fa-list fa-2x" data-bs-toggle="collapse"
              href="#collapseItemFields"
              style="display: inline-block; margin-right: 20px;"></span>
    {% endif %}

    <span class="fas fa-file-import fa-2x" data-bs-toggle="collapse"
          href="#collapseImportItems"
          style="display: inline-block; margin-right: 20px;"></span>

    <span id="export-items-btn" class="fas fa-file-export fa-2x"
          style="display: inline-block; margin-right: 20px;"></span>

    <span id="btn_export_pdf" class="fas fa-file-pdf fa-2x"
          style="display: inline-block; margin-right: 20px;"></span>

    <a id="move-items-btn" data-bs-toggle="collapse" href="#moveInventory"
       role="button" aria-expanded="false" aria-controls="moveInventory">
                                                <span id="move-items-span" class="fas fa-exchange-alt fa-2x"
                                                      style="color:lightgray; display: inline-block; margin-right: 20px;"></span>
    </a>

    <span class="fas fa-info fa-2x" data-bs-toggle="collapse"
          href="#collapseItemsHelp"
          style="display: inline-block; margin-right: 20px;"></span>


{% endif %}