
<p>Item types are broad categories describing your things.</p>

<p><i class="fas fa-list"></i>  sets the default fields used for new items added to a particular inventory.</p>

<p>You can add a new item type by clicking the <i class="fas fa-plus"></i> icon at the top.</p>

<p>You can export your item types top a CSV file by clicking the <i class="fas fa-file-export"></i> icon at the top.</p>

<p>You can import your item types top a CSV file by clicking the <i class="fas fa-file-import"></i> icon at the top.</p>