{% extends "base.html" %}

{% block title %} ThingList | @{{ username }} | {{ item.name }}{% endblock %}

{% block head %}
    {{ super() }}

    {% block metadata %}
        <meta property="og:description" content="{{ item.description }}"/>
        <meta property="og:title" content="ThingList | @{{ username }} | {{ item.name }}"/>
        <meta property="og:type" content="website"/>
        {% if item.main_image is not none %}
            <meta property="og:image" content="{{ url_for('static', filename='uploads/' + item.main_image) }}"/>
        {% endif %}
    {% endblock %}

    <link href="{{ url_for('static', filename='css/autoComplete.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11">
                                    <h5>{{ item.name }} </h5>
                                </div>
                                <div class="col-md-1">
                                    {% if item_access_level == 0 %}
                                        <div class="text-end">
                                            <span class="fas fa-ellipsis-v fa-2x" data-bs-toggle="collapse"
                                                  href="#collapseButtonBar"
                                                  style="display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            {% if item_access_level == 0 %}
                                <div class="collapse" id="collapseButtonBar" aria-expanded="false">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% include 'item/_item_button_bar.html' %}
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="card-body">

                            {% if item_access_level == 0 %}
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="collapse" id="collapseExample" aria-expanded="false">
                                            <div class="card card-body">
                                                {% include 'item/_edit_item_form.html' %}
                                            </div>
                                        </div>

                                        <div class="collapse" id="collapseImagesEdit" aria-expanded="false">
                                            {% include 'item/_item_images_upload.html' %}
                                        </div>

                                    </div>

                                </div>
                            {% endif %}

                            <div class="row">

                                <div class="col-md-8 order-sm-first order-last">
                                    <p class="card-text">{{ item.description | safe }}</p>
                                    <h6><strong>Type:</strong> {{ item_type }}</h6>

                                    {% if item_access_level == 0 %}
                                        <h6><strong>Location:</strong> {{ item_location['name'] }}</h6>

                                        {% if item.specific_location is not none %}
                                            <h6><strong>Specific location #:</strong> {{ item.specific_location }}</h6>
                                        {% else %}
                                            <h6><strong>Specific location #:</strong> Not set</h6>
                                        {% endif %}
                                    {% endif %}

                                    <h6><strong>Quantity:</strong> {{ item.quantity }}</h6>

                                </div>

                                <div class="col-md-4">
                                    {% if item.main_image is not none %}
                                        {% set image_url = url_for('static', filename="uploads/" + item.main_image) %}
                                        <img src="{{ image_url }}" class="rounded float-end img-thumbnail" alt="...">
                                    {% endif %}
                                </div>

                            </div>

                            <hr>

                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for field, item_field in item_fields.items() %}

                                    <tr>
                                        <td><strong>{{ field.field|capitalize }}:</strong></td>
                                        <td>

                                            {% if field.type|lower == 'url' %}
                                                <a href="{{ item_field.value }}">{{ item_field.value }}</a>
                                            {% else %}
                                                {{ item_field.value }}
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <hr>

                            <div id="item-tags">
                                {% for tag in item.tags %}
                                    <a href="{{ url_for('items.items') }}?tags={{ tag.tag }}">
                                        <button type="button" class="btn btn-sm btn-primary">{{ tag.tag }}</button>
                                    </a>
                                {% endfor %}
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-6">

                                    <h5>Related items:
                                        <span id="add-related-1"
                                              data-bs-toggle="collapse"
                                              href="#collapseAddRelated"
                                              data-toggle="tooltip" data-placement="top"
                                              title="Display help panel"
                                              class="fas fa-plus "
                                              style="color:black; display: inline-block; margin-right: 20px;cursor: pointer;"></span>
                                    </h5>

                                    <div class="collapse" id="collapseAddRelated" aria-expanded="false">
                                        {% include 'item/_related_item_form.html' %}
                                    </div>
                                    {% if item.related_items | length > 0 %}
                                        {% for rel_item in item.related_items %}
                                            <strong><a
                                                    href="{{ url_for('item.item_with_username_and_inventory',
                                                    username=username, inventory_slug=inventory_slug,
                                                    item_slug=rel_item.slug) | replace('%40', '@') }}">{{ rel_item.name }}</a></strong>

                                            <span id="delete-related-{{ rel_item.id }}"
                                                  data-item1-id="{{ item.id }}"
                                                  data-item2-id="{{ rel_item.id }}"
                                                  class="fas fa-times "
                                                  style="color:red; display: inline-block; margin-right: 20px;cursor: pointer;"></span>

                                            <br>
                                        {% endfor %}
                                    {% else %}
                                        None
                                    {% endif %}

                                </div>

                                {% if inventory.access_level != 2 %}
                                    <hr class="show-small">
                                    <br class="show-small">
                                    <div class="col-md-6">
                                        <h5>Inventories: </h5>
                                        {% for inventory in item.inventories %}
                                            <strong>
                                            {% if '_default_' not in inventory.name  %}
                                                    <a href="{{ url_for('items.items_with_username_and_inventory', username=username, inventory_slug=inventory.slug) | replace('%40', '@') }}">{{ inventory.name }}</a>
                                            {% else %}
                                                    <a href="{{ url_for('items.items_with_username_and_inventory', username=username, inventory_slug=inventory.slug) | replace('%40', '@') }}">None / Default</a>
                                            {% endif %}
                                            </strong>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                            <hr>

                            {% if item.images | length > 0 %}
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <button id="btn-remove-images" type="button" class="btn btn-sm btn-primary"
                                                disabled>
                                            Remove
                                        </button>

                                        <button id="btn-main-image" type="button" class="btn btn-sm btn-primary"
                                                disabled>
                                            Make main
                                        </button>
                                    </div>

                                </div>
                                <hr>
                                <br>

                                <div class="row">
                                    <div class="grid" id="masonry">
                                        {% for img in item.images %}
                                            {% set image_url = url_for('static', filename="uploads/" + img.image_filename) %}
                                            <div class="item">
                                                <img width="300" class="image-checkbox" src="{{ image_url }}"
                                                     data-image-url="{{ image_url }}"
                                                     id="{{ img.id }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <hr>

                            {% endif %}

                            <div class="text-center">
                                <img src="{{ qrcode(url_for(request.endpoint, **request.view_args) | replace('%40', '@'), box_size=6 ) }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block footer %}
    {{ super() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.0/masonry.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

    <script src="{{ url_for('static', filename='js/autoComplete.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.1/tinymce.min.js"
            integrity="sha512-SJh7xW/9SLzllt0PqjnYlomfUPi7UYF40TXU5m6kVXLFr1hdKe+L8Tqqoi1y9vlsMQBdGC2lZI0d6w04Nn6piQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        const username = {{ username|tojson|safe }}
        const csrf_token = {{ csrf_token()|tojson|safe }}
        const inventory_slug = {{ inventory_slug|tojson|safe}}
        const item_slug = {{ item.slug|tojson|safe}}
        const item_id = {{ item.id|tojson|safe}}
        const edit_item_url = {{ url_for('item.edit_item_fields')|tojson|safe}}

        const user_items_url = {{ url_for('api.user_items')|tojson|safe}}
        const user_item_types_url = {{ url_for('api.user_item_types')|tojson|safe}}
        const unrelate_items_url = {{ url_for('item.unrelate_items')|tojson|safe}}
        const delete_images_url = {{ url_for('item.delete_images')|tojson|safe}}
        const set_main_image_url = {{ url_for('item.set_main_image')|tojson|safe}}

    </script>

    <script src="{{ url_for('static', filename='js/item.js') }}"></script>

{% endblock %}
